<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}
      </main>
      <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2024 Finch Collector &nbsp;</div>
      </footer>

    <h1>Home</h1>
    {% endblock %}

</html>